language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install -r requirements.txt
  - python setup.py develop

script:
  - py.test --cov=flaskie tests/

after_success:
  - coveralls